@{
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script src="~/Content/layer/layer.js"></script>
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/ZhangCeModule/DStudentTestSet/GetDStudentTestSetModel", { Id: KeyValue }, function (data) {
                SetWebControls(data);

            });
        }
    }
    //保存事件
    function AcceptClick() {
        var testBeginDate = $("#TestBeginDate").val();
        if (testBeginDate == "") {
            layer.alert("开始日期不能为空！");
            return false;
        }
        var testAddress = $("#TestAddress").val();
        if (testAddress == "") {
            layer.alert("测试地点不能为空！");
            return false;
        }
        var studentSex = $("#StudentSex").val();

        var testBeginTime = $("#TestBeginTime").val();
        var testStudentCount = $("#TestStudentCount").val();
        if (testStudentCount == "") {
            layer.alert("测试人数不能为空！");
            return false;
        }
        var testLimit = $("#TestLimit").val();
        var testType = $("#TestType").val();

        if (!!GetQuery('KeyValue')) {

            var postData = {
                "testBeginDate": testBeginDate,
                "testAddress": testAddress,
                "studentSex": studentSex,
                "testBeginTime": testBeginTime,
                "testStudentCount": testStudentCount,
                "testLimit": testLimit,
                "testType": testType,
                "id": GetQuery('KeyValue')
            }
            AjaxJson("/ZhangCeModule/DStudentTestSet/UpdDStudentTestSet", postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }
        else {
            var postData = {
                "testBeginDate": testBeginDate,
                "testAddress": testAddress,
                "studentSex": studentSex,
                "testBeginTime": testBeginTime,
                "testStudentCount": testStudentCount,
                "testLimit": testLimit,
                "testType": testType
            }
            AjaxJson("/ZhangCeModule/DStudentTestSet/AddDStudentTestSet", postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                //closeDialog();
            });
        }
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">

        <tr>
            <th class='formTitle'>开始日期：</th>
            <td class='formValue'>
                <input id="TestBeginDate" maxlength=-1 type="text" onclick="new WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '%y-%M-%d' })" class="txt Wdate" />
            </td>

        </tr>
        <tr>
            <th class='formTitle'>测试地点：</th>
            <td class='formValue'>
                <input id="TestAddress" maxlength=-1 type="text" class="txt required" />
            </td>

        </tr>

        <tr>
            <th class='formTitle'>性别：</th>
            <td class='formValue'>
                <select id="StudentSex" style="height:25px" class="txtArea">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>测试时段：</th>
            <td class='formValue'>
                <select id="TestBeginTime" style="height:25px" class="txtArea">
                    <option value="8:00-9:30">8:00-9:30</option>
                    <option value="10:00-11:30">10:00-11:30</option>
                    <option value="14:00-15:30">14:00-15:30</option>
                    <option value="16:00-17:30">16:00-17:30</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>测试人数：</th>
            <td class='formValue'>
                <input id="TestStudentCount" maxlength=-1 type="number" class="txt required" />
            </td>
        </tr>


        <tr>
            <th class='formTitle'>测试限制：</th>
            <td class='formValue'>
                <select id="TestLimit" style="height:25px" class="txtArea">
                    <option value="40">不限</option>
                    <option value="41">大一</option>
                    <option value="42">大二</option>
                    <option value="43">大三</option>
                    <option value="44">大四</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>测试类型：</th>
            <td class='formValue'>
                <select id="TestType" style="height:25px" class="txtArea" disabled>
                    <option value="补测约考">补测约考</option>
                </select>
            </td>
        </tr>

    </table>
</form>
