@{
    ViewBag.Title = "老师测试开关（随年份建表）》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/DTecher_TestOnOff/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/CommonModule/DTecher_TestOnOff/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>：</th>
            <td class='formValue'>
                <input id="ID" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>：</th>
            <td class='formValue'>
                <input id="State" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>：</th>
            <td class='formValue'>
                <input id="TestType" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>：</th>
            <td class='formValue'>
                <input id="CreateTime" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>：</th>
            <td class='formValue'>
                <input id="UpdateTime" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>：</th>
            <td class='formValue'>
                <input id="Remark" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
