@{
    ViewBag.Title = "DStudent_TestAllot》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/DStudent_TestAllot/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/CommonModule/DStudent_TestAllot/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>ID：</th>
            <td class='formValue'>
                <input id="ID" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>TestSetID：</th>
            <td class='formValue'>
                <input id="TestSetID" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>TestGroup：</th>
            <td class='formValue'>
                <input id="TestGroup" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>GroupCount：</th>
            <td class='formValue'>
                <input id="GroupCount" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>BeginPraDate：</th>
            <td class='formValue'>
                <input id="BeginPraDate" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>BeginWeek：</th>
            <td class='formValue'>
                <input id="BeginWeek" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>BeginPraTime：</th>
            <td class='formValue'>
                <input id="BeginPraTime" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>TestTeacher：</th>
            <td class='formValue'>
                <input id="TestTeacher" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>CreateTime：</th>
            <td class='formValue'>
                <input id="CreateTime" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UpdateTime：</th>
            <td class='formValue'>
                <input id="UpdateTime" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Remark：</th>
            <td class='formValue'>
                <input id="Remark" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
